<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0"
          name="viewport"/>
    <title>@ViewData["Title"] - Web</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          rel="stylesheet"/>
    <link href="~/css/site.css"
          rel="stylesheet"/>
    <link href="~/css/toastr.css"
          rel="stylesheet"/>
    <script data-auto-replace-svg="nest"
            src="https://use.fontawesome.com/releases/v5.15.1/js/all.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a asp-area=""
               asp-page="/Index"
               class="navbar-brand">
                Christmas card Sender
            </a>
            <button aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                    class="navbar-toggler"
                    data-target=".navbar-collapse"
                    data-toggle="collapse"
                    type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a asp-area=""
                           asp-page="/Send/Card"
                           class="nav-link text-dark">
                            Send card
                        </a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a asp-area=""
                               asp-page="/Info/Report"
                               class="nav-link text-dark">
                                Check reports
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area=""
                               asp-page="/Info/Search"
                               class="nav-link text-dark">
                                Search through cards
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main class="pb-3"
          role="main">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2020 - From Zero to Hero
        <a asp-area=""
           asp-page="/Privacy">
            Privacy
        </a>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script asp-append-version="true"
        src="~/js/site.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="~/js/signalr.min.js"
        type="text/javascript"></script>
<script type="application/javascript">
    document.addEventListener('DOMContentLoaded', function () {
         const connectionAlerts = new signalR.HubConnectionBuilder()
                     .withUrl('/alerts')
                     .build();
         bindConnectionMessage(connectionAlerts);
         connectionAlerts.start()
                        .then(() => console.log('connected to alert messages!'))
                        .catch(console.error);
         function bindConnectionMessage(connection) {
             let messageCallback = function (message) {
                 $("#alertDiv").empty();
                 if (!message) return;
                 // This is a tiny warning glyph next to Login link
                 let messageBox = document.getElementById('alertDiv');
                 messageBox.innerHTML = `<a href="${message}"><i class="fas fa-exclamation-triangle"></i></a>`;
                 toastr.options = {
                     closeButton: true,
                     timeOut: 0,
                     extendedTimeOut: 0,
                     progressBar: true,
                     onclick: function() { window.open(message, "_blank") }
                 };
                 toastr.warning(
                     '<img src="images/bottle-shadow.png" height="300"  alt="alert"/>' +
                     '<div class="message-body">Something important has happened!<br><br>Click me to find more!</div>');
             };
             connection.on('alertMessage', messageCallback);
         }
     });
</script>
@RenderSection("Scripts", required: false)
</body>
</html>