@page
@model CardPageModel

@{
    ViewData["Title"] = "Send cards";
}

@if (string.IsNullOrEmpty(Model.InfoText))
{
    <p class="alert-info mb-3">
        @Model.InfoText
    </p>
}
<h1>
    Send cards
</h1>

<p>Enter details below and upload pic, if already not in the list. Press preview button to see the result.</p>

<form method="post" enctype="multipart/form-data" >
    <div class="form-group">
        <label for="subjectName">Subject</label>
        <input asp-for="CardModel.Subject"
               class="form-control"
               id="subjectName"
               type="text">
    </div>
    <div class="form-group">
        <label for="podName">Whom to send</label>
        <input asp-for="CardModel.FullName"
               class="form-control"
               id="podName"
               type="text">
    </div>
    <div class="form-group">
        <label for="uploadImage">Select image to send</label>
        <input class="form-control-file"
               id="uploadImage"
               name="image"
               type="file">
    </div>
    <div class="form-group">
        <label asp-for="CardModel.DedicationText">Dedication (press button to the right to enter random quote)</label>
        <textarea class="form-control" asp-for="CardModel.DedicationText" rows="3"></textarea>
        &nbsp;
        <span id="selectQuote">
            <i class="fas fa-th-list"></i>
        </span>
    </div>
    <button class="btn btn-primary"
            type="submit">
        Send card
    </button>
</form>