@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="display-4">Simple example of how to use Azure PaaS service</h1>
<p>
    Simple example on how to leverage services and technologies:
</p>
<ul>
    <li>
        .NET and ASP.NET Core on either Linux or Windows
    </li>
    <li>
        Azure Web App / Azure Functions App
    </li>
    <li>
        Azure Container instance / Azure Kubernetes Service
    </li>
    <li>
        Azure Storage / Azure Search / Azure SQL / Azure KeyVault
    </li>
    <li>
        Azure SignalR
    </li>
    <li>
        Azure Cosmosdb
    </li>
    <li>
        Azure Event Grid
    </li>
</ul>

<p>....and much more can be done - check <a href="https://docs.microsoft.com/en-us/azure/?product=featured">Azure documentation</a> for more.</p>